In [1]:
import kite_trade
import datetime as dt
import pandas as pd
import numpy as np
import time
import winsound
from prettytable import PrettyTable
from IPython.display import clear_output

In [2]:
kite = kite_trade.KiteApp(enctoken="IvmdFP3kMH99bhCnwXFjCJgvmgnXXlEtMXX1Kb/4X+n5jGvWAItQBRl9N2JmC7913oJHcByRfb+Yr9daE1Yj5+auBqxShKlKdRltrS824N1aufZSvlGj0A==")
table = PrettyTable()
table.field_names = ["Attribute", "value"]
table.align = "l"
for key, value in kite.userProfile().items():
    if key in ["user_id", "user_name", "password_timestamp", "twofa_timestamp"]:
        table.add_row([key, value])
print(table)

+--------------------+---------------------+
| Attribute          | value               |
+--------------------+---------------------+
| user_id            | XF6031              |
| user_name          | Prithvi Ram Grandhi |
| password_timestamp | 2019-02-23 02:31:14 |
| twofa_timestamp    | 2019-02-23 02:31:14 |
+--------------------+---------------------+

In [3]:
zerodha_orders = pd.DataFrame(kite.orders())
zerodha_orders[['exchange_timestamp', 'tradingsymbol', 'transaction_type','quantity']]

    exchange_timestamp           tradingsymbol transaction_type  quantity
0  2024-04-26 10:10:01  MIDCPNIFTY24APR10950PE             SELL       150
1  2024-04-26 10:10:01  MIDCPNIFTY24APR10950CE             SELL       150
2  2024-04-26 11:16:56  MIDCPNIFTY24APR10975PE             SELL       150
3  2024-04-26 11:16:57  MIDCPNIFTY24APR10975CE             SELL       150

In [9]:
putSymbol = "MIDCPNIFTY24APR10975PE"#"BANKNIFTY2430647400PE"
callSymbol = "MIDCPNIFTY24APR10975CE"
future = "MIDCPNIFTY24APRFUT"#"NIFTY24APRFUT"#"BANKNIFTY24APRFUT"#"FINNIFTY24APRFUT"#"MIDCPNIFTY24APRFUT"
qty = 150
threshold = 110

In [10]:
while True:
    currStraddlePrice = kite.ltp("NFO:"+putSymbol)["NFO:"+putSymbol]['last_price'] + kite.ltp("NFO:"+callSymbol)["NFO:"+callSymbol]['last_price']
    if currStraddlePrice > threshold:
        order1 = kite.place_order(variety=kite.VARIETY_REGULAR, exchange=kite.EXCHANGE_NFO, tradingsymbol=putSymbol, 
                                  transaction_type=kite.TRANSACTION_TYPE_BUY, quantity=qty, product=kite.PRODUCT_NRML, order_type=kite.ORDER_TYPE_MARKET, 
                                  price=None, validity=None, disclosed_quantity=None, trigger_price=None, squareoff=None, stoploss=None,
                                  trailing_stoploss=None)
        order2 = kite.place_order(variety=kite.VARIETY_REGULAR, exchange=kite.EXCHANGE_NFO, tradingsymbol=callSymbol,
                                  transaction_type=kite.TRANSACTION_TYPE_BUY, quantity=qty, product=kite.PRODUCT_NRML, order_type=kite.ORDER_TYPE_MARKET,
                                  price=None, validity=None, disclosed_quantity=None, trigger_price=None, squareoff=None, stoploss=None, 
                                  trailing_stoploss=None)
        winsound.Beep(frequency=2000, duration=500)
        clear_output(wait=True)
        print("Current straddle: ", currStraddlePrice)
        print("trading ended, Thanks!!!")
        print(order1)
        print(order2)
        break
    else:
        clear_output(wait=True)
        print("Current straddle: ", currStraddlePrice)
        print("threshold: ",threshold)
        print("Future: ", kite.ltp("NFO:"+future)["NFO:"+future]['last_price'])
        time.sleep(5)

Current straddle:  93.6
threshold:  110
Future:  10986

KeyboardInterrupt:

In [ ]:
while(True):
    clear_output(wait=True)

In [24]:

zerodha_orders

,placed_by,order_id,exchange_order_id,parent_order_id,status,status_message,status_message_raw,order_timestamp,exchange_update_timestamp,exchange_timestamp,...,trigger_price,average_price,filled_quantity,pending_quantity,cancelled_quantity,market_protection,meta,tag,tags,guid
0,XF6031,240311100395343,1400000011533031,None,COMPLETE,None,None,2024-03-11 09:34:22,2024-03-11 09:34:22,2024-03-11 09:34:22,...,0,26.400000,225,0,0,0,{},mRSxmUPHZgYjbda9,[mRSxmUPHZgYjbda9],5285XgRQtGOHs2w84
1,XF6031,240311100395383,1300000014621617,None,COMPLETE,None,None,2024-03-11 09:34:22,2024-03-11 09:34:22,2024-03-11 09:34:22,...,0,28.233333,225,0,0,0,{},5VpKtKek4OLAGlXf,[5VpKtKek4OLAGlXf],5285XFegz6AqvE9SB
2,XF6031,240311100422924,1400000012702804,None,COMPLETE,None,None,2024-03-11 09:36:35,2024-03-11 09:36:35,2024-03-11 09:36:35,...,0,27.950000,225,0,0,0,{},algo order,[algo order],01Xm5RWb6VYcMxG
3,XF6031,240311100422941,1400000012703498,None,COMPLETE,None,None,2024-03-11 09:36:35,2024-03-11 09:36:35,2024-03-11 09:36:35,...,0,27.950000,225,0,0,0,{},algo order,[algo order],01XqE7qsKo1FgdE
4,XF6031,240311100432787,1400000013008435,None,COMPLETE,None,None,2024-03-11 09:37:21,2024-03-11 09:37:21,2024-03-11 09:37:21,...,0,27.100000,225,0,0,0,{},None,NaN,01XcOOlsnLwQohe
5,XF6031,240311100432790,1300000016505643,None,COMPLETE,None,None,2024-03-11 09:37:21,2024-03-11 09:37:21,2024-03-11 09:37:21,...,0,25.550000,225,0,0,0,{},None,NaN,01X8GWFXpulGmVy
6,XF6031,240311100446674,1400000013497516,None,COMPLETE,None,None,2024-03-11 09:38:28,2024-03-11 09:38:28,2024-03-11 09:38:28,...,0,25.900000,225,0,0,0,{},o3v5f1t4bUEFUyTs,[o3v5f1t4bUEFUyTs],5285XgRibqFe881fW
7,XF6031,240311100446718,1300000017113258,None,COMPLETE,None,None,2024-03-11 09:38:28,2024-03-11 09:38:28,2024-03-11 09:38:28,...,0,25.666667,225,0,0,0,{},lOJvnrKFZoQ2TBmG,[lOJvnrKFZoQ2TBmG],5285XnWp6vc4uYsMQ
8,XF6031,240311100758534,1300000034694364,None,COMPLETE,None,None,2024-03-11 10:11:19,2024-03-11 10:11:19,2024-03-11 10:11:19,...,0,14.600000,225,0,0,0,{},None,NaN,01XgZuShBdhYyZJ
9,XF6031,240311100758535,1400000027564463,None,COMPLETE,None,None,2024-03-11 10:11:19,2024-03-11 10:11:19,2024-03-11 10:11:19,...,0,28.700000,225,0,0,0,{},None,NaN,01X023iwnhxt9Ke

In [25]:
zerodha_orders.columns

Index(['placed_by', 'order_id', 'exchange_order_id', 'parent_order_id',
       'status', 'status_message', 'status_message_raw', 'order_timestamp',
       'exchange_update_timestamp', 'exchange_timestamp', 'variety',
       'modified', 'exchange', 'tradingsymbol', 'instrument_token',
       'order_type', 'transaction_type', 'validity', 'validity_ttl', 'product',
       'quantity', 'disclosed_quantity', 'price', 'trigger_price',
       'average_price', 'filled_quantity', 'pending_quantity',
       'cancelled_quantity', 'market_protection', 'meta', 'tag', 'tags',
       'guid'],
      dtype='object')

In [34]:
zerodha_orders[['exchange_timestamp', 'tradingsymbol', 'transaction_type','quantity']]

    exchange_timestamp           tradingsymbol transaction_type  quantity
0  2024-03-11 09:34:22  MIDCPNIFTY2431110850CE             SELL       225
1  2024-03-11 09:34:22  MIDCPNIFTY2431110850PE             SELL       225
2  2024-03-11 09:36:35  MIDCPNIFTY2431110850CE              BUY       225
3  2024-03-11 09:36:35  MIDCPNIFTY2431110850CE              BUY       225
4  2024-03-11 09:37:21  MIDCPNIFTY2431110850CE             SELL       225
5  2024-03-11 09:37:21  MIDCPNIFTY2431110850PE              BUY       225
6  2024-03-11 09:38:28  MIDCPNIFTY2431110850CE             SELL       225
7  2024-03-11 09:38:28  MIDCPNIFTY2431110850PE             SELL       225
8  2024-03-11 10:11:19  MIDCPNIFTY2431110850PE              BUY       225
9  2024-03-11 10:11:19  MIDCPNIFTY2431110850CE              BUY       225

In [37]:
len(kite.positions()['net'])

2